* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Thin.otf") format("opentype");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Now";
    src: url("./fonts/Now-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

body {
    font-family: "Now", sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    zoom: 0.94;
}

:root {
    --brand-green: #0a9134;
    --brand-green-dark: #08752b;
    --brand-green-light: #e9f7ed;
    --brand-green-soft: #f3faf4;
    --brand-orange: #ff9d2e;
    --brand-orange-dark: #e88313;
    --brand-pink: #ff315a;
    --brand-charcoal: #242223;
    --brand-white: #fff;
}

html {
    scrollbar-gutter: stable;
}
.font-awesome-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}